* {
  box-sizing: border-box;
}

html {
  background-image: url('images/background.png');
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  background-color: transparent !important;
}

.dino {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data {
  width: 25rem;
  border: 1px solid white;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  color: white;
  text-align: center;
}

.data__para {
  margin-top: 2em;
}

img {
  cursor: pointer;
}

.david {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  backdrop-filter: blur(30px);
  text-align: center;
  color: white;
  border: 1px solid white;
}

footer p {
  padding-top: 10px;
}

#footer {
  background-color: black;
  color: wheat;
  text-align: center;
  font-size: 24px;
}
