* {
  box-sizing: border-box;
}

body,
html {
  background-image: url("../images/dino/backgorund.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.title {
  margin-bottom: 2em;
}

h1 {
  color: white;
}

body {
  background: transparent !important;
}

.about-movie {
  backdrop-filter: blur(20px);
  color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.644);
}

.movie-trailer {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

iframe {
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.644);
}

#gallery {
  display: flex;
  background-color: white;
  margin-bottom: 100px;
  border-radius: 25px;
}

#gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery > div > img {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .movie-trailer {
    flex-direction: column;
    align-items: center;
  }
}

#footer {
  background-color: black;
  color: wheat;
  text-align: center;
}
